
{% extends 'adminbase.html.twig' %}

{% block title %} Shopping Admin Panel {% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h4> Üye Ekleme</h4>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <div class="header">
                <h4>
                    Yeni Üye Ekleme

                </h4>
            </div>
            <div class="body">
                <form class="form-vertical" method="post">
                    <label for="email_address">Adı Soyadı</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" name="users[name]" id="email_address" class="form-control" placeholder="Adı Soyadı">
                        </div>
                    </div>
                    <label for="email_address">Email</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="email" name="users[email]" id="email_address" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <label for="password">Password</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="password" name="users[password]" id="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <label for="password">Türü</label>
                    <div class="form-group">
                        <div class="form-line">
                            <select name="users[type]" class="form-control">
                                <option>Admin</option>
                                <option>Uye</option>
                                <option>Muhasebeci</option>
                                <option>Kargocu</option>
                            </select>
                        </div>
                    </div>
                    <label for="password">Aktif Durumu</label>
                    <div class="form-group">
                        <div class="form-line">
                            <select name="users[status]" class="form-control">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary m-t-15 waves-effect">KAYDET</button>
                </form>
            </div>
        </div>

    </section>
{% endblock %}
