{%  for label, flashes in app.session.flashbag.all %}
   {%  for flash in flashes %}
      {% if( label == 'success') %}

          <div class="alert alert-success">
              <strong>BAŞARILI!</strong>
              {{ flash }}
          </div>


        {% elseif (label == 'error') %}
        <div class="alert alert-danger">
            <strong>Error!</strong> {{ flash }}
        </div>

       {% elseif ( label == 'info') %}
       <div class="alert alert-danger">
           <strong>Error!</strong> {{ flash }}
       </div>

       {% elseif ( label == 'warning') %}
       <div class="alert alert-danger">
           <strong>Error!</strong> {{ flash }}
       </div>
      {% endif %}
   {% endfor %}
{% endfor %}

