
            <div class="col-sm-3">
                <div class="left-sidebar">

                        <ul class="pull-left">
                            <li><a href="/userpanel"><i class="material-icons"></i>Bilgilerim</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="userpanel/edit"><i class="material-icons"></i>Düzenle</a></li>
                            <li><a href="/orders"><i class="material-icons"></i>Siparişlerim</a></li>
                            <li><a href="/shopcart"><i class="material-icons"></i>Sepetim</a></li>

                            <li><a href="javascript:void(0);"><i class="material-icons"></i>Yorumlarım</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('app_logout') }}"><i class="material-icons"></i>Exit</a></li>
                        </ul>
                </div>
            </div>