{% extends 'frontbase.html.twig' %}

{% block title %} Hakkımızda{{ data[0].title }}{% endblock %}
{% block keywords %} {{ data[0].keywords }}{% endblock %}
{% block description %} {{ data[0].description }}{% endblock %}
{% block content %}

<div class="container text-center">
    <div>
        <h1>Hakkımızda</h1>
    </div>
    <div class="row">

        <p>

            Sema Butik,  19 Ocak 2016 tarihinde Instagram üzerinden faaliyet göstermeye başlamıştır. Home office olarak işletilen butik tamamen resmi ve yasaldır. Butiğin kurucusu Enez Küçükkaya  kendi tasarım ve tasarım ekibi ile , Facebook, İnstagram ve web sitesi üzerinden devam etmektedir.
            Sema Butik, kurulduğu günden bu yana her zevke hitap eden geniş ürün yelpazesiyle hizmet vermektedir.

            Sema Butik, İstanbul Tuzla'da bulunan mağazası ve Türkiye’nin dört bir köşesine ulaşan dağıtım sistemiyle binlerce müşterisine kusursuz hizmet sunmaktadır.

            İlk günden buyana kusursuz müşteri memnuniyeti anlayışı, yenilikçi yapısı ve dinamik kadrosu, trend yaratan tasarımları ile sektördeki yerini koruyan Paanda Butik,  sizin sayenizde  hızla büyütmeye devam etmektedir.
        </p>

        <div class="row"></div>

    </div>
</div>

{% endblock %}


