{% extends 'frontbase.html.twig' %}

{% block title %} Referanslarımız {{ data[0].title }}{% endblock %}
{% block keywords %} {{ data[0].keywords }}{% endblock %}
{% block description %} {{ data[0].description }}{% endblock %}
{% block content %}

<div class="container text-center">
    <div>
        <h1>Referanslarımız</h1>
    </div>
    <div class="row">

        <p>
                 Pelin'in Ayakkabıları

        </p>
        <p>

            Panda Butik
        </p>
        <div class="row"></div>

    </div>
</div>

{% endblock %}







